<div class="card">
  <%= link_to image_tag(fashion.image, class: :card__img ), fashion_path(fashion) %>
  <div class="card__body">
    <%= link_to fashion.artist, fashion_path(fashion), class: :card__title%>
    <p class="card__summary">
      <%= fashion.brand %>
    </p>
    <%= link_to "by #{fashion.user.user}", user_path(fashion.user), class: :card__user %>
  </div>
</div>